PortProton.conf
libfm
procps
configs
pulse
dconf
mimeapps.list
StardewValley
mpv
glib-2.0
neofetch
transmission
gtk-3.0
user-dirs.dirs
gtk-4.0
obsidian
user-dirs.locale
htop
obs-studio
ibus
pavucontrol.ini
JetBrains
pcmanfm
yay
